{% extends 'Blog/base.html' %}
{% block body %}
<h2>You have been logged out</h2>    
<div class="border-top pt-3">
    <small class="text-muted">
        <a class="ml-2" href="/login">Login Again</a>
    </small>
</div>
{% endblock body %}