{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ user.profile.image.url }}" class="img-fluid rounded-circle account-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{ user.username }}</h2>
        <p class="card-text"><small class="text-muted">{{ user.email }}</small></p>
      </div>
    </div>
  </div>
</div>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset class='form-group'>
    <legend class="border-bottom mb-4">
      Profile Info
    </legend>
    {{ u_form|crispy }}
    {{ p_form|crispy }}
  </fieldset>
  <div class="form-group">
    <button class="btn btn-outline-info" type="submit">Update</button>
  </div>
</form>
{% endblock body %}