{% extends 'Blog/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class="border-bottom mb-4">
                    Join Today
                </legend>
                {{ form|crispy }}     <!--.as_p will render our form under paragraphs-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
            </small>

        </div>
    </div>
{% endblock body %}