{% extends 'Blog/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class="border-bottom mb-4">
                    New Blog Post
                </legend>
                {{ form|crispy }}     <!--.as_p will render our form under paragraphs-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock body %}