{% extends 'Blog/base.html' %}
{% block body %}
    <div class="container">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class="border-bottom mb-4">
                    Delete Post
                </legend>
                <h2>Are you sure you want to delete the Post?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <a class="btn btn-outline-success" href="{% url 'post-detail' object.id%}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock body %}