{% extends 'Blog/base.html' %}


{% block body %}
<div class="card border-dark mt-3" style="max-width: 30rem;">
    <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ object.author.profile.image.url }}" class="img-fluid rounded-start mx-2 my-2 mt-3" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body text-success">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.content }}</p>
          </div>
        </div>
      </div>
    <div class="card-footer bg-transparent border-dark">
      By <a href="{% url 'user-posts' object.author %}">{{ object.author }}</a> on {{ object.date_posted|date:"F d, Y" }}
      {% if object.author == user %}
        <a class = "btn btn-outline-secondary btn-sm mx-2 mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
        <a class = "btn btn-outline-danger btn-sm my-2 mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      {% endif %}
    </div>
  </div>
  {% endblock body %}