{% extends 'Blog/base.html' %}
{% block body %}
<h1 class="mb-3">Posts by {{view.kwargs.username}} ({{ page_obj.paginator.count}})</h1>
{% for post in posts %}
<div class="card border-dark mt-3" style="max-width: 30rem;">
    <div class="card-body text-success">
      <a href="/post/{{post.id}}"><h5 class="card-title">{{ post.title }}</h5></a>
      <p class="card-text">{{ post.content }}</p>
    </div>
    <div class="card-footer bg-transparent border-dark">
      <img class="img-fluid rounded-circle" height="20px" width="20px" src="{{ post.author.profile.image.url }}">
      By <a href="{% url 'user-posts' post.author %}">{{ post.author }}</a> on {{ post.date_posted|date:"F d, Y" }}
    </div>
  </div>
{% endfor %}
{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a class="btn btn-sm mt-1 btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-sm mt-1 btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Prev</a>  
  {% endif %}
  
  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-sm mt-1 btn-info mb-4" href="?page={{ num }}">{{num}}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-sm mt-1 btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
    {% endif %} 
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-sm mt-1 btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-sm mt-1 btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>  
  {% endif %}
{% endif %}
{% endblock body %}